# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
mlenv/
venv/
.env/

# ------------------------------
# ML / Model Files
# ------------------------------


# Large model folders
meditron-7b/
BioMistral/

# ------------------------------
# Data files
# ------------------------------
data/
Brain_Data_Organised/
BrainCT_Split/
Dataset_Extracted/
OvarianCancerData/
brain-mri data/

*.zip
*.tar
*.gz

# CSV (Uncomment if generated)
# *.csv

# ------------------------------
# Streamlit
# ------------------------------
.streamlit/
.cache/

# ------------------------------
# Logs / Results
# ------------------------------
results/
*.log

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db